[run]
concurrency = multiprocessing
include =
  */buildstream/*

omit =
  # Omit profiling helper module
  */buildstream/_profile.py
  # Omit generated code
  */buildstream/_protos/*
  */.eggs/*
  # Omit .tox directory
  */.tox/*

[report]
show_missing = True
precision = 2

[paths]
source =
    buildstream/
    */site-packages/buildstream/
    */buildstream/buildstream/
