[MASTER]
enable=c-extension-no-member
ignored-modules=pkg_resources,grpc,buildstream._protos.*
ignore-patterns=.*_pb2.py,.*_pb2_grpc.py

extension-pkg-whitelist=
    buildstream.node,
    buildstream._loader._loader,
    buildstream._loader.loadelement,
    buildstream._loader.types,
    buildstream._types,
    buildstream._utils,
    buildstream._variables,
    buildstream._yaml,
    ujson

# We have three groups of disabled messages:
#
# 1) Messages that are of no use to us
#    This is either because we don't follow the convention
#    (missing-docstring and protected-access come to mind), or because
#    it's not very useful in CI (too-many-arguments, for example)
#
# 2) Messages that we would like to enable at some point
#    We introduced linting quite late into the project, so there are
#    some issues that just grew out of control. Resolving these would
#    be nice, but too much work atm.
#
# 3) Messages related to code formatting
#    Since we use Black to format code automatically, there's no need for
#    pylint to also check for those things.
#

disable=#####################################
        # Messages that are of no use to us #
        #####################################
        ,
        fixme,
        missing-docstring,
        no-self-use,
        no-else-return,
        protected-access,
        too-few-public-methods,
        too-many-arguments,
        too-many-boolean-expressions,
        too-many-branches,
        too-many-instance-attributes,
        too-many-lines,
        too-many-locals,
        too-many-nested-blocks,
        too-many-public-methods,
        too-many-statements,
        too-many-return-statements,
        too-many-ancestors,

        #######################################################
        # Messages that we would like to enable at some point #
        #######################################################
        # We have many circular imports that need breaking
        import-outside-toplevel,

        duplicate-code,

        # Some invalid names are alright, we should configure pylint
        # to accept them, and curb the others
        invalid-name,

        unused-argument,

        ##################################################
        # Formatting-related messages, enforced by Black #
        ##################################################

        bad-continuation,
        line-too-long,
        superfluous-parens,


[REPORTS]
output-format=colorized


[FORMAT]
max-line-length=119
