# Basic toplevel package includes
include README.rst
include HACKING.rst
include COPYING

# Documentation package includes
include doc/Makefile
include doc/source/conf.py
include doc/source/index.rst

# Tests
recursive-include tests *.py
recursive-include tests *.yaml
