coverage==4.4
pytest-cov==2.10.0
pytest==6.0.1
Cython==0.29.21
## The following requirements were added by pip freeze:
attrs==19.3.0
importlib-metadata==1.7.0
iniconfig==1.0.1
more-itertools==8.4.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
six==1.15.0
toml==0.10.1
zipp==3.1.0
