coverage==4.4
pytest-cov==2.10.1
pytest==7.1.2
Cython==0.29.28
## The following requirements were added by pip freeze:
attrs==21.4.0
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.8
tomli==2.0.1
