pexpect==4.9.0
pylint==3.2.5
# Pytest 6.0.0 doesn't play well with pylint
pytest==8.2.2
pytest-datafiles==3.0.0
pytest-env==1.1.3
pytest-xdist==3.6.1
pytest-timeout==2.3.1
pyftpdlib==1.5.10
## The following requirements were added by pip freeze:
astroid==3.2.3
dill==0.3.8
execnet==2.1.1
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.1
platformdirs==4.2.2
pluggy==1.5.0
ptyprocess==0.7.0
tomlkit==0.13.0
