pep8==1.7.1
pylint==2.3.1
pytest==4.3.0
pytest-datafiles==2.0
pytest-env==0.6.2
pytest-pep8==1.0.6
pytest-pylint==0.14.0
pytest-xdist==1.26.1
pytest-timeout==1.3.3
## The following requirements were added by pip freeze:
apipkg==1.5
astroid==2.2.3
atomicwrites==1.3.0
attrs==19.1.0
execnet==1.5.0
isort==4.3.10
lazy-object-proxy==1.3.1
mccabe==0.6.1
more-itertools==6.0.0
pathlib2==2.3.3
pluggy==0.9.0
py==1.8.0
pytest-cache==1.0
pytest-forked==1.0.2
six==1.12.0
wrapt==1.11.1
