pexpect==4.8.0
pylint==2.13.8
# Pytest 6.0.0 doesn't play well with pylint
pytest==7.2.0
pytest-datafiles==2.0.1
pytest-env==0.8.1
pytest-xdist==3.1.0
pytest-timeout==2.1.0
pyftpdlib==1.5.7
## The following requirements were added by pip freeze:
astroid==2.11.7
attrs==22.2.0
dill==0.3.6
exceptiongroup==1.1.0
execnet==1.9.0
iniconfig==1.1.1
isort==5.11.4
lazy-object-proxy==1.8.0
mccabe==0.7.0
packaging==22.0
platformdirs==2.6.2
pluggy==1.0.0
ptyprocess==0.7.0
py==1.11.0
tomli==2.0.1
typing_extensions==4.4.0
wrapt==1.14.1
