click==8.1.3
grpcio==1.46.0
Jinja2==3.1.2
pluginbase==1.0.1
protobuf==3.20.1
psutil==5.9.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
setuptools==44.1.1
pyroaring==0.3.3
ujson==5.2.0
python-dateutil==2.8.2
## The following requirements were added by pip freeze:
MarkupSafe==2.1.1
six==1.16.0
