Click >= 7.0, != 8.2.2
grpcio
Jinja2 >= 2.10
importlib_metadata >= 3.6; python_version < "3.10"
packaging
pluginbase
protobuf <9,>=5.29
psutil
ruamel.yaml >= 0.16.7
ruamel.yaml.clib >= 0.1.2
pyroaring
ujson
